form{
    display: flex;
    flex-direction: column;
    
    width: 300px;

    justify-content: center;
    align-items: center;

    gap: 10px;
    background-color: #777;
}
ul{
    list-style: none;
}

form:hover{
    transform: rotate(360deg);
    transition: 5s;
}